---
interface Props {
	title : string;
	description : string
	canononical : string
}

const { title } = Astro.props;
const { description } = Astro.props;
const { canononical } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content={description}/>
		<meta name="viewport" content="width=device-width" />

		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="https://www.circuitikz-generator.xyz/banner_og_image.webp" />
		<meta property="og:url" content={canononical} />
		<meta property="og:type" content="website" />

		<link rel="icon" type="image/svg" href="/araña.svg" />
		<link rel="canonical" href={canononical} />
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8075059212388269" crossorigin="anonymous"></script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 229, 114, 58;
		--accent-button: 240, 150, 113;
		--accent-light: 255, 200, 159;
		--accent-dark: 107, 29, 0;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
